<% include ./partials/header %>

<body>
  <% include ./partials/navbar %>

<div class="container mt-2 p-5" >

  <div class="row">
    <div class="col-lg mb-3">
      <div class="card">
        <img class="card-img-top" src="<%= imageURL %>" alt="Card image cap">
      </div>
    </div>
    <div class="col-lg mb-3">
      <% include ./partials/components/info %>
    </div>
  </div>

  <!-- A good free weather api is probably too hard to find now -->
  <div class="row">
    <div class="col-lg mb-3">
      <%# include ./partials/components/weather %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg mb-3">
      <%# include ./partials/components/pollution %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg mb-3">
      <% include ./partials/components/video %>
    </div>
  </div>
</div>
 


<% include ./partials/footer %>