* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
} 

.btn-primary {
  background: rgb(23, 138, 146);
  border-radius: 3px;
  border: none;
}

.btn-primary:hover {
  background: rgb(8, 94, 100);
}

.pull-right {
  float: right;
}

.top-picture {
    margin: 0 !important;
}
