@import url('https://fonts.googleapis.com/css?family=Gugi');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
} 

.btn-primary {
  background: rgb(23, 138, 146);
  border-radius: 3px;
  border: none;
}

.btn-primary:hover {
  background: rgb(8, 94, 100);
}

.top-picture {
    margin: 0 !important;
}

.brand-font {
  font-family: 'Gugi', serif;
}

.jumbotron-image {
  background-image: linear-gradient(rgba(163, 22, 156, 0.103), rgba(5, 50, 92, 0.562)), 
  url('../img/backgrounds/rocket-launch-bg.jpg');
  background-size: cover;
  background-position: center 80%;
  filter: blur(20px) greyscale(50%);
}

.jumbotron-image-future {
  background-image: linear-gradient(rgba(83, 3, 79, 0.589), rgba(4, 34, 61, 0.603)),
  url('../img/backgrounds/earth-bg.jpg');
  background-size: cover;
  background-position: center 50%;
  filter: blur(20px) greyscale(50%);
}

.card {
  transition: scale 1s;
  animation: shrink 0.3s linear forwards;
}
.card:hover {
  animation: expand 0.3s linear forwards;
}

@keyframes expand {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.005);
  }
}

@keyframes shrink {
  from {
    transform: scale(1.005);
  }
  to {
    transform: scale(1);
  }
}
