<div class="card bg-light">
  <div class="card-body">
    <h3 class="card-title">Pollution</h3>
    <p class="card-text">
      <span class="font-weight-bold">Air quality rating: </span>
      <span id="air-quality">Good</span>
    </p>
    <p class="card-text">
        <span class="font-weight-bold">Major Pollutants: </span>
        <span id="air-quality">CO2, PM2.5</span>
    </p>
  </div>
</div>  