<div class="card bg-light">
  <div class="card-body">
    <h3 class="card-title">Weather</h3>
    <h1 class="card-text font-weight-light">
      <span id="temperature">
        95 °F
      </span>
      <span id="weather-description">
        Sunny
      </span>
    </h1>
  </div>
</div>